    <div id="pageHeader">
      <div class="header">
        <div class='header-body'>
          <strong>
            Security Report for Tensult(<%= aws_account_id%>)
          </strong>
          <img src='img/tensult-logo.png'/>
        </div>
        <hr>
      </div>
    </div>