<!DOCTYPE html>
<html lang="en-IN">
  <head>
    <%- include('partials/style') %>
  </head>
  <body>
    <%- include('partials/pageHeader') %>
    <%- include('partials/overallSummary') %>
    <%- include('partials/detailed') %>
    <p class="reference">
      Generated using modified version of <a href="https://github.com/tensult/Scout2">Scout 2</a>
    </p>
  </body>
</html>